# dependencies
/node_modules

# Next.js
/.next/
/out/

# PWA
/public/sw.js
/public/workbox-*.js

# env files (keep .env.example, ignore local secrets)
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# OS
.DS_Store
Thumbs.db
